<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"> -->
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <script src='main.js'></script>
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Delivery</a>
    
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/profile2" class="nav__link active-link">HOME</a>
                    </li>
                    <li class="nav__item">
                        <a href="/feed" class="nav__link">FEED</a>
                    </li>
    
                    <li class="nav__item">
                        <a href="/" class="nav__link">LOGOUT</a>
                    </li>
    
                    <i class='bx bx-toggle-left change-theme' id="theme-button"></i>
                </ul>
            </div>
    
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-grid-alt'></i>
            </div>
    
            <!-- <a href="#location" class="nav__link button">ADD LOCATION</a> -->
    
            <a href="/Profile" class="button button__header">Profile</a>
        </nav>
    
    </header>
    
    <div class="blr" id="blrone"></div>
    <div class="blr" id="blrtwo"></div>
    <div class="blr" id="blr4"></div>
    <div class="blr" id="blr3"></div>

<div class="profile w-full min-h-screen  text-white pt-1">
    <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Upload</button>
    </form>
    <div class="profders flex flex-col items-center mt-10">

        <div class="w-32 h-32 bg-green-900 rounded-full relative ">
<span class="edit h-8 w-8 rounded-full bg-red-700 absolute bottom-0 right-0" id="uploadicon"></span>
<img class="h-full w-full object-cover rounded-full "src="/images/uploads/<%= user.ProfileImage %>" alt="">
        </div>
        <h1 class="text-3xl font-semibold mt-5"><%= user.name%></h1>
        <p class="mb-2"><i class="fas fa-envelope"></i>
            <%= user.email %>
        </p>
        <p class="mb-2"><i class="fas fa-phone"></i>
            <%= user.mobile %>
        </p>
        <p class="mb-2"><i class="fas fa-birthday-cake"></i>
            <%= user.dateOfBirth.toDateString() %>
        </p>
        <p class="mb-2"><i class="fas fa-map-marker-alt"></i>
            <%= user.city %>
        </p>
        <a href="/edit" class="mt-5 px-7 py-2 bg-gray-800 rounded-full text-xs font-semibold text-white">edit</a>
        <!-- <a href="/add" class="mt-5 px-14 py-4 bg-orange-800 rounded-full text-xs font-semibold text-white">Add new Product</a> -->

    </div>
   
</div>
<script>
    document.querySelector("#uploadicon").addEventListener("click",function(){
        document.querySelector("#uploadform input").click()
    })
    document.querySelector("#uploadform input").addEventListener("change", function(){
        document.querySelector("#uploadform").submit();

    })

</script>
 

<style>
    .profile{
        margin-top: 60px;
        color: rgb(0, 26, 0);
        border: 2px solid green;
        border-radius: 20px;
    }
    #blrone{
    position: fixed;
    right: 5%;
    bottom: 50%;
    width: 60px;
    height: 60px;
    opacity: .4;
    background-color: rgb(255, 0, 0);
    -webkit-filter: blur(25px) saturate(10);
            filter: blur(25px) saturate(10);
}

#blrtwo{
    position: fixed;
    left: 20%;
    bottom: 70%;
    width: 60px;
    height: 60px;
    opacity: .4;
    -webkit-filter: blur(25px) saturate(10);
            filter: blur(25px) saturate(10);
    background-color: rgb(0, 30, 255);
}

#blr4{
    position: fixed;
    left: 82%;
    bottom: 30%;
    width: 60px;
    height: 60px;
    opacity: .4;
    -webkit-filter: blur(25px) saturate(10);
            filter: blur(25px) saturate(10);
    background-color: rgb(255, 147, 7);
}
#blr3{
    position: fixed;
    left: 20%;
    bottom: 7%;
    width: 60px;
    height: 60px;
    opacity: .4;
    -webkit-filter: blur(25px) saturate(10);
            filter: blur(25px) saturate(10);
    background-color: rgb(17, 255, 0);
}
.blr{
    -webkit-filter: blur(15px) saturate(10);
            filter: blur(25px) saturate(10);
}

</style>
</body>

</html>